<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header" style="border: 4px; background-color: rgb(84, 137, 236);">
            <h1>Clientes</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover" style="border: 4px; background-color: cornflowerblue;">
                <thead class="table-dark">
                    <tr>
                        <th style="text-align: center;">#</th>
                        <th>Nome:</th>
                        <th>CPF:</th>
                        <th>Endereço:</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Chamando o array de objetos -->
                    <% clientes.forEach(cliente => { %>
                    <tr>
                        <td><%= cliente.id %></td>
                        <td><%= cliente.nome %></td>
                        <td><%= cliente.cpf %></td>
                        <td><%= cliente.endereco %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

    <hr>
    <img src="/images/Frame 8.png" alt="Logo Loja" width="1920px" height="400px">

<%- include ('partials/footer.ejs') %>