<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Clientes</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Nome:</th>
                        <th>CPF:</th>
                        <th>Endereço:</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Chamando o array de objetos -->
                    <% clientes.forEach(cliente => { %>
                    <tr>
                        
                        <a href="/detalhes/<%= cliente.id %>"><td><%= cliente.nome %></td></a>
                        <td><%= cliente.cpf %></td>
                        <td><%= cliente.endereco %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

    <hr>
    <img src="/images/Frame 8.png" alt="Logo Loja" width="1920px" height="400px">

<%- include ('partials/footer.ejs') %>