<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>
    <h1>Confira seus pedidos:</h1>
    <div class="container">
        <div class="card">
            <div class="card-header" style="border: 4px; background-color: rgb(84, 137, 236);">
                <h1>Pedidos</h1>
            </div>
            <div class="card-body" style="border: 4px; background-color: cornflowerblue;">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th style="text-align: center;">#</th>
                            <th>Número:</th>
                            <th>Valor:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Chamando o array de objetos -->
                        <% pedidos.forEach(pedido => { %>
                        <tr>
                            <td style="text-align: center;"><img src="/images/produto.png" alt="Produto"></td>
                            <td><%= pedido.número %></td>
                            <td><%= pedido.valor.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   <hr>
   <p style="text-align: center;">Logo em sua casa!</p>
<%- include ('partials/footer.ejs') %>