<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>
    <h1>Confira seus pedidos:</h1>
    <ul>
        <li><%= pedido %></li>
    </ul>
    <% if (!pedido) { %>
        <% pedidos.forEach(pedido => { %>
          <p><a href="/pedidos/<%= pedido %>"><%= pedido %></a></p>
       <% }) %> 
   <% } else { %>
       <p> <%= pedido %></p>
   <% } %>
<hr>
<img src="/images/Frame 8.png" alt="Logo Loja" width="1920px" height="400px">
   <hr>
   <p>Logo em sua casa!</p>
<%- include ('partials/footer.ejs') %>