<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>
    <h1>Confira nossos produtos:</h1>
   <ul>
    <li><%= produto %></li>
   </ul>
    <% if (!produto) { %>
         <% produtos.forEach(produto => { %>
           <p><a href="/produtos/<%= produto %>"><%= produto %></a></p>
        <% }) %> 
    <% } else { %>
        <p> <%= produto %></p>
    <% } %>
     
    <hr>
    <p>Faça seu pedido agora!</p>
<%- include ('partials/footer.ejs') %>
